.site{
    background: #fff;
}

@media screen and (min-width: $query__medium){
    body{
        background: #f2f2f2;
    }
    .site{
        //max-width: 1200px;
        margin: 0 auto;
        //box-shadow: 0 3px 4px hsla(0,100%,0%,0.4);
    }
}




.site-content {
    padding: 1em;
    max-width: $size__max-width;
    margin: 0 auto;

    @media screen and (min-width: $query__small) {
        padding: 2em;
    }
}


/* Single posts */
@media screen and (min-width: $query__small) {
    .single.has-sidebar,
    .page,
    .multimedia-page { 

        .hentry {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .entry-header {
                width: 100%;
                flex: 1 0 100%;
            }

            .post-content {
                width: $size__ratio-large;
            }

            .widget-area {
                width: $size__ratio-small;
            }
        }
    }
    .page,
    .multimedia-page {
        &.has-page-sidebar {
            .hentry {
                flex-direction: row-reverse;
            }
        }
        &:not(.has-page-sidebar) {
            .hentry {
                justify-content: center;
                margin: 0 auto;
            }
            .post-content {
                width: 100%;
            }
        }
    }
}


@media screen and (min-width: $query__medium) {
    .single{    
        &.no-sidebar {

            .post-content__wrap {
                display: flex;
                justify-content: space-between;

                .entry-meta {
                    width: 20%;
                }

                .post-content__body {
                    width: 80%;
                }
            }

        }
    }
    .page,
    .multimedia-page {
       
        &:not(.has-page-sidebar) {
            .post-content {
                width: $size__ratio-large;
            }
        }
    }

}

