.site-footer{
    text-align: center;
    position: relative;
    background-color: #eee;
    border-top: 1px solid #ddd;

    @include font-size(0.85);
    a{
        text-decoration: none;
    }

    .site-info,
    .creditos-menu{
        padding: 2rem 1rem 6rem 1rem;
        font-family: $font__sans;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;

        li{
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                display: block;
                padding: 0.5em 1em;
                text-decoration: none;
                &:hover,
                &:focus{
                    text-decoration: underline;
                }
            }

        }
    }
}
