.site-footer{
    font-family: $font__sans;
    font-size: 70%;
    text-align: center;
    position: relative;
    background-color: $color__navy;
    
    a{
        text-decoration: none;
    }

    .site-info,
    .creditos-menu{
        padding: 2rem 1rem;
    }

    ul#creditos-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;

        li{
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                display: block;
                padding: 0.5em 1em;
                text-decoration: none;
                &:hover,
                &:focus{
                    text-decoration: underline;
                    color: #fff;
                }
            }

        }
    }
}

.topscroll{
    display: block;
    background: $color__gray;
    font-family: $font__sans;
    text-align: center;
    font-size: 70%;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 2em 0;
    text-decoration: none;
}