.main-navigation {
    display: block;
    clear: left;
    ul.menu, ul.sub-menu{
        padding: 0;
        margin: 0;
    }
    ul.sub-menu a{
        padding-left: 2em;
    }
    ul.sub-menu ul a{
        padding-left: 3em;
    }
    ul {
        display: none;
        list-style: none;

        ul {
            display: none;
            top: 1.5em;
            z-index: 99999;
            padding-top: .5em;
            margin-bottom: 1em;
        }

        li:hover > ul,
            li.focus > ul {
            left: auto;

        }
    }

    li {
        position: relative;
    }

    a {
        display: inline-block;
        width: 100%;
        padding: .6em 1em;
        text-decoration: none;
        color: #fff;
        line-height: 1.5;
        background: hsla(0, 0%, 100%, .1);
    }

    a:hover,
        a:focus {
        color: $color__interactive;

    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
        color: $color__link;
    }

/*    .menu-item-has-children,
    .page_item_has_children {
        background: hsla(0, 0%, 100%, .1);
    }*/
    .menu-item-has-children > a,
    .page_item_has_children > a {
        padding-right: 2em;
    }
}
button.dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    border: 0 none;
    background: transparent;
    color: white;
    font-size: 150%;
    line-height: 1.2;
    text-align: right;
    padding: .2em .4em;
    margin: 0;
    opacity: .5;
    &:hover{
        opacity: 1;
    }
}

.menu-toggle, .menu-toggle:focus {
    height: 40px;
    width: 100%;
    display: block;
    padding: 1em 1.5em;
    text-align: left;
    font-size: 80%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    background: $color__skin;
    border:0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* Toggle small menu and children on */
.toggled-on ul,
.sub-menu.toggled-on {
    display: block;
}


.fix-bar{
    position: fixed;
    top: 0;
}

/*-----------------------------------------
** Estilos para desktop
------------------------------------------*/

@media screen and (min-width: $query__small) {
    .menu-toggle {
        display: none;
    }
    .main-navigation>div>ul>li{
        margin: 0.25em .1em;
    }
    .main-navigation>div>ul>li>a{
        //min-height: 40px;
    }

    .main-navigation {
        .menu-item-has-children,
        .page_item_has_children {
            width: 220px;
        }
        .menu-item-has-children > a,
        .page_item_has_children > a {
            padding-right: 2em;
            min-width: 220px;
        }
        ul.menu{
            padding: 0;
        }
        ul.sub-menu a{
            padding-left: 1em;
        }
        ul.sub-menu ul a{
            padding-left: 2em;
        }

        ul {
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;   
            flex-wrap: wrap;
            justify-content: flex-start;

            ul {

                flex-direction: column;

                margin-left: 0;
                margin-bottom: 0;
                padding-top: 0;


                li {
                    padding-left: 0;
                    width: 220px;
                    flex: 0 1 auto;
                    a {
                        width: 100%;
                        padding-left: 1em;
                    }
                }
                li.menu-search{
                    margin-left: auto;
                }
            }

            li {
                a {
                    //padding: .4em 1em;
                }
            }
        }
    }

}

@media screen and (min-width: $query__medium) {
    .main-navigation {

        ul {
            //justify-content: flex-start;
            padding-top: 0;

            /* If you want dropdowns to open on hover, uncomment this: */
            /*
            li:hover > ul,
                    li:focus > ul {
                    display: block;
            }
            */
        }

    }
}

/*------------------------------------------
** Estilos para la search bar
------------------------------------------*/

li.menu-search{
    margin: 0;
    padding: 0;

    @media screen and (min-width: $query__small){
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto!important;
        width: 260px;
        flex: 0 1 auto;
    }
    i{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 2.7;
        color: $color__gray;
    }
    .search-form{

        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;  

        label{
            height: 40px;
            width: 80%;
            flex-grow: 1;
            position: relative;
        }
        .search-field{
            width: 100%;
            height: 40px;
            border: 0 none;
            flex-grow: 1;
            outline: 0;
            border: 0 none;
            padding-left: 3em;
            -webkit-appearance: none;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            background: $color__navy;
            font-family: $font__sans;
            font-size: 95%;
            font-weight: 400;
            color: $color__gray;

            -webkit-transition: all .5s;
            transition: all .5s;

            &:focus{
                width: 100%;
                outline: 0;
                border: 0 none;
                -moz-box-shadow: 0 0 2px white inset;
                -webkit-box-shadow: 0 0 2px white inset;
                box-shadow: 0 0 2px white inset;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                border-radius: 0;
                outline-color: $color__skin;
                font-style: normal;

                background: $color__skin;
                color: #fff;
            }
            &::-webkit-input-placeholder {
                outline: 0;
                border: 0 none;
                font-weight: normal;
                font-style: italic;
                color: $color__gray;
            }
            &:-moz-placeholder {
                outline: 0;
                border: 0 none;
                font-weight: normal;
                font-style: italic;
                color: $color__gray;
            }
            &:-ms-input-placeholder {
                color: $color__skin;
                outline: 0;
                border: 0 none;
                font-weight: normal;
                font-style: italic;
                color: $color__gray;
            } 


        }


        .search-submit{
            display: none;
        }
    }
}




