.main-navigation {
    display: block;
    font-family: $font__sans;
    font-weight: 400;
    clear: left;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-top: 2em;
        padding-left: 0;

        ul {
            display: none;
            top: 1.5em;
            z-index: 99999;
            padding-top: .5em;
            margin-bottom: 1em;

            ul {
                top: 0;
            }

            li {
                padding-left: 1em;

                &:hover > ul,
                    &.focus > ul {
                    //left: 100%;
                }
            }


        }

        li:hover > ul,
            li.focus > ul {
            left: auto;
        }
    }

    li {
        position: relative;
    }

    a {
        display: inline-block;
        width: 100%;
        padding: .5em 1em .5em 0;
        text-decoration: none;
        color: #fff;
    }

    a:hover,
        a:focus {
        color: $color__interactive;

    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
        color: $color__link;
    }

    .menu-item-has-children,
    .page_item_has_children {
        //width: 218px;
    }
    .menu-item-has-children > a,
    .page_item_has_children > a {
        padding-right: 2em;
    }
}

button.dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: inherit;
    color: white;
    font-size: 150%;
    text-align: left;
    line-height: .4;
    padding: .5em;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: .5;
}

.menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: block;
    //margin: 1.2em 1.2em 0 0;
    padding: 1em 1.5em;
    text-align: left;
    font-size: 80%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    background: $color__skin;
    border:0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* Toggle small menu and children on */
.toggled-on ul,
.sub-menu.toggled-on {
    display: block;
}

/*-----------------------------------------
** Estilos para desktop
------------------------------------------*/

@media screen and (min-width: $query__small) {
    .menu-toggle {
        display: none;
    }
    .main-navigation>div>ul>li{
        margin-bottom: .5em;
    }

    .main-navigation {

        .menu-item-has-children > a,
        .page_item_has_children > a {
            padding-right: 2em;
            background: hsla(0, 0%, 100%, .1);
            min-width: 200px;
        }
        
        ul {
            display: block;
            display: flex;
            flex-wrap: wrap;
            padding-top: 0;
            justify-content: flex-start;

            ul {
                flex-direction: column;
                background: hsla(0, 0%, 100%, .1);
                margin-left: 0;
                margin-bottom: 0;

                li {
                    padding-left: 0;

                    a {
                        width: 200px;
                        background: none;
                    }
                }
            }

            li {
                a {
                    padding: .4em 1em;
                }
            }
        }

    }

}

@media screen and (min-width: $query__medium) {
    .main-navigation {

        ul {
            //justify-content: flex-start;
            padding-top: 0;

            /* If you want dropdowns to open on hover, uncomment this: */
            /*
            li:hover > ul,
                    li:focus > ul {
                    display: block;
            }
            */
        }

    }
}

/*------------------------------------------
** Estilos para la search bar
------------------------------------------*/

li.menu-search{
    margin-top: .5em;

    i{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 2.4;
    }

    .search-form{
        display:flex;
        justify-content: flex-start;
        flex-wrap: nowrap;

        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;  

        label{
            height: 40px;
            width: 80%;
            flex-grow: 1;
            position: relative;
        }

        .search-field{
            width: 100%;
            height: 40px;
            border: 0 none;
            flex-grow: 1;
            outline: 0;
            padding-left: 45px;
            -webkit-appearance: none;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;

            background: transparent;
            color: $color__gray;
            font-family: $font__sans;

        }
        .search-field:focus{
            outline: 0;
            -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            box-shadow: 0 0 2px rgba(0,0,0,.8) inset;

            background: $color__skin;
            color: $color__gray;
        }
        .search-field::-webkit-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
            font-size: 80%;
            line-height: 2.2;

            color: $color__skin;
        }

        .search-field:-moz-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .search-field:-ms-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        } 
        .search-submit{
            width: 20%;
            display: none;
        }
    }
}

@media screen and (min-width: $query__small){
    li.menu-search{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto!important;
        width: 260px;
        flex: 0 1 auto;
    }
}


