$color__skin: #2B63B6;
$color__interactive: #5992E7;
$color__navy: #0E356E;
$color__gray: #F5FBFE;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #000;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #20CB9A;
$color__link-visited: $color__skin;
$color__link-hover: $color__interactive;
$color__text-main: #333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
