a {
    color: $color__link;

    &:visited {
        color: $color__link-visited;
    }
    &:hover,
        &:focus,
        &:active {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
        &:active {
        outline: 0;
    }
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.page-content,
.entry-content,
.entry-summary,
.comment-content {

    a {
        text-decoration: none;
        border-bottom: 0 none;
        font-weight: 700;

        &:focus,
            &:hover {
            color: $color__interactive;
            border-bottom: 2px solid $color__interactive;
        }
        &:visited{
            color: $color__skin;
            border-bottom: 2px solid $color__skin;
        }
    }
}
